<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppGroupId</key>
	<string>group.com.getit.getitmoney</string>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>겟잇머니</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>ShareHandler</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.file-url</string>
				<string>public.image</string>
				<string>public.text</string>
				<string>public.movie</string>
				<string>public.url</string>
				<string>public.data</string>
			</array>
		</dict>
	</array>

	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>getitmoney</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.getit.getitmoney</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>getitmoney</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.google.chrome.ios</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>googlechrome</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>https</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>https</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				 <string>ShareMedia-$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
			<string>kakaoab18a221cb1c3054430fbec3e97cf5f4</string>
			</array>
		</dict>
		<dict/>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>http</string>
		<string>https</string>
		<string>kakaokompassauth</string>
		<string>kakaotalk</string>
		<string>intent</string>
		<string>getitmoney</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<string>No</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>이미지를 저장하려면 사진 라이브러리 접근 권한이 필요합니다.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>To upload photos, please allow permission to access your photo library.</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIDeviceFamily</key>
	<array>
		<string>1</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>NSMotionUsageDescription</key>
	<string>이 앱은 걸음 수 활동을 추적하기 위해 동작 및 피트니스 데이터를 사용합니다.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>이 앱은 건강 데이터를 업데이트하기 위해 사용됩니다.</string>

	<key>NSHealthShareUsageDescription</key>
	<string>이 앱은 건강 데이터를 읽기 위해 사용됩니다.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>이 앱은 운동 중 위치 데이터를 기록하기 위해 접근 권한이 필요합니다.</string>
	<key>NSBodyTrackingUsageDescription</key>
	<string>이 앱은 신체 데이터(체중, 체온, 심박수 등)를 추적하기 위해 필요합니다.</string>
	<!-- The 'NSUserActivityTypes' key is only needed if you plan to use the recordSentMessage API allowing for conversations to show up as direct share suggestions -->
	<key>NSUserActivityTypes</key>
	<array>
		<string>INSendMessageIntent</string>
	</array>
</dict>
</plist>
